h1 {
    font-size: 1.2rem;
}

#top-bar {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 1px solid gray;
}

#item-filter {
    width: 200px;
}

#welcome {
    font-size: 1.5rem;
}

#main-page {
    display: flex;
    flex-direction: column;
}

#item-section {
    padding: 30px;
}

img {
    width: 320px;
    height: 180px;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.card-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-footer {
    font-size: 1.4em;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
